node_modules
**/node_modules

**/temp

target

# IDEA
*.iml
.idea

.DS_Store
*.log

**/.serverlessgit push

*.testconfig.js

**/template.json

.env

# compiled output
touchscreen-api/dist
touchscreen-api/tmp
touchscreen-api/out-tsc

# dependencies
touchscreen-api/node_modules
touchscreen-api/node_modules/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
touchscreen-api/.sass-cache
touchscreen-api/connect.lock
touchscreen-api/coverage
touchscreen-api/libpeerconnection.log
touchscreen-api/npm-debug.log
touchscreen-api/testem.log
touchscreen-api/typings

# e2e
touchscreen-api/e2e/*.js
touchscreen-api/e2e/*.map

/search-server/app/configs/app.config.js
search-server/package-lock.json
touchscreen-gui/package-lock.json
