<div class="main">
  <header class="page-header page-header--white">
    <a class="page-header__logo">
      <img (click)="easterEgg()" alt="ImmobilienScout24" src="/img/logo/immobilienscout24.svg">
    </a><span class="page-header__brand">
        Der Marktführer:<br />
        Die Nr. 1 rund um Immobilien
    </span>


    <div class="close" *ngIf="this.streetViewEnabled">
      <button class="close-button" (click)="closeStreetView()">Streetview beenden</button>
    </div>
	  <div id="header_container" [ngClass]="getStyle()" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" >
		  <div id="header_panel" class="shadow">
			  <div class="front face">
				  <div style="position: absolute; right: 0; top: 0;padding: 10px">
					  <img src="/img/logo/fs24Logo.gif" style="float: right; margin-left: 10px">
					  <img src="/img/logo/as24.jpg" (click)="easterEggAS24()" style="float: right;height: 40px">
				  </div>
			  </div>
			  <div class="back face center">
				  <md-slide-toggle style="float: left;margin-top: 8px"  [(checked)]="streetViewEnabled" (change)="streetViewEnabled = !streetViewEnabled">Streetview</md-slide-toggle>
				  <button style="float: left;margin-left: 5px;"  md-raised-button color="primary" (click)="relaunchLG()">Relaunch</button>
				  <button style="float: left;margin-left: 5px;"  md-raised-button color="primary" (click)="restartLG()">Restart</button>
			  </div>
		  </div>
	  </div>

  </header>


  <div class="dashboard grid ">
    <div class="grid-item three-tenths">
      <div class="cities">
        <button [class.disabled]="city != cities.Berlin" (click)="cityChanged(cities.Berlin)" class="button-primary berlin">Berlin</button>
        <button [class.disabled]="city != cities.Frankfurt" (click)="cityChanged(cities.Frankfurt)" class="button-primary frankfurt">Frankfurt</button>
        <button [class.disabled]="city != cities.Cologne" (click)="cityChanged(cities.Cologne)" class="button-primary cologne">Köln</button>
        <button [class.disabled]="city != cities.Munich" (click)="cityChanged(cities.Munich)" class="button-primary munich">München</button>
        <button [class.disabled]="city != cities.Hamburg" (click)="cityChanged(cities.Hamburg)" class="button-primary hamburg">Hamburg</button>
      </div>
      <img class="germany-map" src="/img/Karte_Deutschland.svg">
    </div>
    <div class="grid-item four-tenths settings">
      <h1 class="font-brandorange font-center">ImmoSearch</h1>
      <div class="type-buttons">
        <button [class.disabled]="!isRent" class="button-secondary margin-right-l" (click)="typeChanged(true);">Mieten</button>
        <button [class.disabled]="isRent" class="button-secondary disabled margin-left-l" (click)="typeChanged(false);">Kaufen</button>
      </div>

      <div class="setting-slider" style="margin-top: 50px;">
        <h2>Preis (max)</h2>
        <md-slider md-discrete [value]="price" min="1" [max]="isRent ? 4000 : 1000000" step="1" class="one-whole" (input)="priceChanged($event)"></md-slider>
        <h3 [innerText]="price | currency:'EUR':true:'1.0-0'"></h3>
      </div>

      <div class="setting-slider margin-top">
        <h2>Fläche (min)</h2>
        <md-slider md-discrete [(value)]="space" min="1" max="200" step="1" class="one-whole" (input)="spaceChanged($event)"></md-slider>
        <h3>{{space}}<span>&nbsp;m<sup>2</sup></span></h3>
      </div>

      <button class="button-primary search-button" (click)="search()"><span class="fa fa-search" *ngIf="!searching" aria-hidden="true"></span><span class="fa fa-spinner" *ngIf="searching" aria-hidden="true"></span> Suche starten...</button>

    </div>
    <div class="grid-item three-tenths">
		<div *ngIf="searching" style="position: relative; top:0; ">
			<svg class="loading-indicator" height="250" width="300">
				<path
						class="house"
						d="M100,200 l0,-70 l-20,0 l70,-70 l25,25 l0,-10 l15,0 l0,20 l35,35 l-20,0 l0,70 l-50,0 l0,-40 l-25,0 l0,40 Z"
						stroke-linecap="round" stroke-linejoin="round"
						fill="rgba(0,0,0,0)"
						stroke="#FF7500"
						stroke-width="4" />
			</svg>

		</div>
		<md-accordion *ngIf="!searching" class="example-headers-align" hide-toggle="false">

        <md-expansion-panel (opened)="propertyExpanded(property)" *ngFor="let property of properties">

          <md-expansion-panel-header>
            <md-panel-title>
              <span class="fa fa-map-marker padding-right-s font-info" aria-hidden="true"></span>

              {{property.title}}

            </md-panel-title>
            <md-panel-description>
              <span class="align-right" *ngIf="property.address.preciseHouseNumber" [innerText]="property.address.street + ' ' + property.address.houseNumber"></span>
            </md-panel-description>
          </md-expansion-panel-header>
          <div class="font-info font-bold font-ll align-center">
                  <span *ngIf="property.address.preciseHouseNumber">
                    <span [innerText]="property.address.quarter"></span><span>,</span>
                  </span>
            <span [innerText]="property.address.postcode"></span>
            <span [innerText]="property.address.city"></span>
          </div>
          <div class="expansionPanelContent margin-top">

            <div class="imageContainer inline-block">
              <img [src]="property.titlePicture">
            </div>
            <div style="vertical-align: top; margin-left: 20px" class="inline-block margin-top-l">

              <div class="grid" style="width: 280px">
                <div class="grid-item data-entity right-border one-third" *ngIf="property.price.value">
                  <div class="grid">
                    <div class="grid-item data-value">
                      <span [innerText]="property.price.value | currency:'EUR':true:'1.0-0'"></span>
                    </div>
                    <div class="data-title">Preis</div>
                  </div>
                </div>
                <div class="grid-item data-entity right-border one-third">
                  <div class="grid">
                    <div class="grid-item data-value">
                      <span [innerText]="property.numberOfRooms"></span>
                    </div>
                    <div class="data-title">Zimmer</div>
                  </div>
                </div>
                <div class="grid-item data-entity one-third">
                  <div class="grid">
                    <div class="grid-item data-value">
                      <span [innerText]="property.livingSpace | number:'1.0-0'"></span><span>&nbsp;m<sup>2</sup></span>
                    </div>
                    <div class="data-title">Fläche</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid expansionPanelNavigationButtons">
            <div class="grid-item one-third padding-right-s">
              <button class="button" [disabled]="!streetViewEnabled || !property.panoId" (click)="openStreetView(property.panoId)">Streetview</button>
            </div>
            <div class="grid-item one-third">
              <button class="button disabled">360 tour</button>
            </div>
            <div class="grid-item one-third padding-left-s">
              <button routerLink="/expose/{{property.id}}" class="button">Exposé</button>
            </div>
          </div>
        </md-expansion-panel>


      </md-accordion>
    </div>

  </div>
</div>



<div class="copyright-attribution">David Liuzzo (https://commons.wikimedia.org/wiki/File:Karte_Deutschland.svg), „Karte Deutschland“, https://creativecommons.org/licenses/by-sa/2.0/de/legalcode</div>
