@close-button-color: rgb(252, 107, 33);

.close {
  padding: 1em;
  text-align: right;
  position: absolute;
  right: 150px;
  top: 100px;

  .close-button {
    border: 2px solid @close-button-color;
    border-radius: 3px;
    color: @close-button-color;
    background: none;
    padding: 0.5em 2em;
  }
}