.expose-container {
  background: rgb(244,244,244);
  .left-column {
    .gallery {
      background: #fdd;
    }
    .key-facts {
      background: #ffd;
    }
  }
  .right-column {
    .details {
      background: #fdf;
    }
  }
}


