/*!
 * ImmobilienScout24 Core CSS Framework, v2.3.0
 * Additionals for browsers without media query support
 * http://www.immobilienscout24.de/
 */

/*@media (min-width: 669px) {*/
  body {
    font-size: 1.4em;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .page-wrapper {
    border-top: 1px solid #e0e0e0;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .page-wrapper {
    padding: 0 7px;
    border: 1px solid #e0e0e0;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .content-wrapper {
    padding: 0 24px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .content-wrapper--negate-padding {
    margin-left: -24px;
    margin-right: -24px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .page-header--white .page-header__logo > img {
    width: 112px;
    height: 56px;
  }
  .page-header--white .page-header__brand {
    font-size: 18px;
    font-size: 1.8rem;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .page-header--white--composite {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 48px;
  }
  .page-header--white--composite .page-header__logo > img {
    width: 64px;
    height: 32px;
  }
  .page-header--white--composite .page-header__brand {
    font-size: 11px;
    font-size: 1.1rem;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .page-header--white--composite {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 72px;
  }
  .page-header--white--composite .page-header__logo > img {
    width: 80px;
    height: 40px;
  }
  .page-header--white--composite .page-header__brand {
    font-size: 14px;
    font-size: 1.4rem;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .main-footer {
    padding: 16px;
    font-size: 13px;
    font-size: 1.3rem;
  }
  .main-footer ul,
  .main-footer .build-information {
    margin-bottom: 8px;
    max-width: 610px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  h1,
  .font-h1 {
    font-size: 42px;
    font-size: 4.2rem;
  }
  h2,
  .font-h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  h3,
  .font-h3 {
    font-size: 26px;
    font-size: 2.6rem;
  }
  h4,
  .font-h4 {
    font-size: 21px;
    font-size: 2.1rem;
  }
  h5,
  .font-h5 {
    font-size: 18px;
    font-size: 1.8rem;
  }
  h6,
  .font-h6 {
    font-size: 18px;
    font-size: 1.8rem;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .font-xs {
    font-size: 11px !important;
    font-size: 1.1rem !important;
  }
  .font-s {
    font-size: 13px !important;
    font-size: 1.3rem !important;
  }
  .font-standard {
    font-size: 14px !important;
    font-size: 1.4rem !important;
  }
  .font-m {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
  .font-l {
    font-size: 21px !important;
    font-size: 2.1rem !important;
  }
  .font-xl {
    font-size: 26px !important;
    font-size: 2.6rem !important;
  }
  .font-xxl {
    font-size: 32px !important;
    font-size: 3.2rem !important;
  }
  .font-xxxl {
    font-size: 42px !important;
    font-size: 4.2rem !important;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-hide {
    display: none !important;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .margin-none,
  .margin-top-none,
  .margin-vertical-none {
    margin-top: 0 !important;
  }
  .margin-none,
  .margin-right-none,
  .margin-horizontal-none {
    margin-right: 0 !important;
  }
  .margin-none,
  .margin-bottom-none,
  .margin-vertical-none {
    margin-bottom: 0 !important;
  }
  .margin-none,
  .margin-left-none,
  .margin-horizontal-none {
    margin-left: 0 !important;
  }
  .margin {
    margin: 16px !important;
  }
  .margin-xs {
    margin: 4px !important;
  }
  .margin-s {
    margin: 8px !important;
  }
  .margin-m {
    margin: 16px !important;
  }
  .margin-l {
    margin: 24px !important;
  }
  .margin-xl {
    margin: 32px !important;
  }
  .margin-xxl {
    margin: 40px !important;
  }
  .margin-top,
  .margin-vertical {
    margin-top: 16px !important;
  }
  .margin-right,
  .margin-horizontal {
    margin-right: 16px !important;
  }
  .margin-bottom,
  .margin-vertical {
    margin-bottom: 16px !important;
  }
  .margin-left,
  .margin-horizontal {
    margin-left: 16px !important;
  }
  .margin-top-xs,
  .margin-vertical-xs {
    margin-top: 4px !important;
  }
  .margin-right-xs,
  .margin-horizontal-xs {
    margin-right: 4px !important;
  }
  .margin-bottom-xs,
  .margin-vertical-xs {
    margin-bottom: 4px !important;
  }
  .margin-left-xs,
  .margin-horizontal-xs {
    margin-left: 4px !important;
  }
  .margin-top-s,
  .margin-vertical-s {
    margin-top: 8px !important;
  }
  .margin-right-s,
  .margin-horizontal-s {
    margin-right: 8px !important;
  }
  .margin-bottom-s,
  .margin-vertical-s {
    margin-bottom: 8px !important;
  }
  .margin-left-s,
  .margin-horizontal-s {
    margin-left: 8px !important;
  }
  .margin-top-m,
  .margin-vertical-m {
    margin-top: 16px !important;
  }
  .margin-right-m,
  .margin-horizontal-m {
    margin-right: 16px !important;
  }
  .margin-bottom-m,
  .margin-vertical-m {
    margin-bottom: 16px !important;
  }
  .margin-left-m,
  .margin-horizontal-m {
    margin-left: 16px !important;
  }
  .margin-top-l,
  .margin-vertical-l {
    margin-top: 24px !important;
  }
  .margin-right-l,
  .margin-horizontal-l {
    margin-right: 24px !important;
  }
  .margin-bottom-l,
  .margin-vertical-l {
    margin-bottom: 24px !important;
  }
  .margin-left-l,
  .margin-horizontal-l {
    margin-left: 24px !important;
  }
  .margin-top-xl,
  .margin-vertical-xl {
    margin-top: 32px !important;
  }
  .margin-right-xl,
  .margin-horizontal-xl {
    margin-right: 32px !important;
  }
  .margin-bottom-xl,
  .margin-vertical-xl {
    margin-bottom: 32px !important;
  }
  .margin-left-xl,
  .margin-horizontal-xl {
    margin-left: 32px !important;
  }
  .margin-top-xxl,
  .margin-vertical-xxl {
    margin-top: 40px !important;
  }
  .margin-right-xxl,
  .margin-horizontal-xxl {
    margin-right: 40px !important;
  }
  .margin-bottom-xxl,
  .margin-vertical-xxl {
    margin-bottom: 40px !important;
  }
  .margin-left-xxl,
  .margin-horizontal-xxl {
    margin-left: 40px !important;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .padding-none,
  .padding-top-none,
  .padding-vertical-none {
    padding-top: 0 !important;
  }
  .padding-none,
  .padding-right-none,
  .padding-horizontal-none {
    padding-right: 0 !important;
  }
  .padding-none,
  .padding-bottom-none,
  .padding-vertical-none {
    padding-bottom: 0 !important;
  }
  .padding-none,
  .padding-left-none,
  .padding-horizontal-none {
    padding-left: 0 !important;
  }
  .padding {
    padding: 16px !important;
  }
  .padding-xs {
    padding: 4px !important;
  }
  .padding-s {
    padding: 8px !important;
  }
  .padding-m {
    padding: 16px !important;
  }
  .padding-l {
    padding: 24px !important;
  }
  .padding-xl {
    padding: 32px !important;
  }
  .padding-xxl {
    padding: 40px !important;
  }
  .padding-top,
  .padding-vertical {
    padding-top: 16px !important;
  }
  .padding-right,
  .padding-horizontal {
    padding-right: 16px !important;
  }
  .padding-bottom,
  .padding-vertical {
    padding-bottom: 16px !important;
  }
  .padding-left,
  .padding-horizontal {
    padding-left: 16px !important;
  }
  .padding-top-xs,
  .padding-vertical-xs {
    padding-top: 4px !important;
  }
  .padding-right-xs,
  .padding-horizontal-xs {
    padding-right: 4px !important;
  }
  .padding-bottom-xs,
  .padding-vertical-xs {
    padding-bottom: 4px !important;
  }
  .padding-left-xs,
  .padding-horizontal-xs {
    padding-left: 4px !important;
  }
  .padding-top-s,
  .padding-vertical-s {
    padding-top: 8px !important;
  }
  .padding-right-s,
  .padding-horizontal-s {
    padding-right: 8px !important;
  }
  .padding-bottom-s,
  .padding-vertical-s {
    padding-bottom: 8px !important;
  }
  .padding-left-s,
  .padding-horizontal-s {
    padding-left: 8px !important;
  }
  .padding-top-m,
  .padding-vertical-m {
    padding-top: 16px !important;
  }
  .padding-right-m,
  .padding-horizontal-m {
    padding-right: 16px !important;
  }
  .padding-bottom-m,
  .padding-vertical-m {
    padding-bottom: 16px !important;
  }
  .padding-left-m,
  .padding-horizontal-m {
    padding-left: 16px !important;
  }
  .padding-top-l,
  .padding-vertical-l {
    padding-top: 24px !important;
  }
  .padding-right-l,
  .padding-horizontal-l {
    padding-right: 24px !important;
  }
  .padding-bottom-l,
  .padding-vertical-l {
    padding-bottom: 24px !important;
  }
  .padding-left-l,
  .padding-horizontal-l {
    padding-left: 24px !important;
  }
  .padding-top-xl,
  .padding-vertical-xl {
    padding-top: 32px !important;
  }
  .padding-right-xl,
  .padding-horizontal-xl {
    padding-right: 32px !important;
  }
  .padding-bottom-xl,
  .padding-vertical-xl {
    padding-bottom: 32px !important;
  }
  .padding-left-xl,
  .padding-horizontal-xl {
    padding-left: 32px !important;
  }
  .padding-top-xxl,
  .padding-vertical-xxl {
    padding-top: 40px !important;
  }
  .padding-right-xxl,
  .padding-horizontal-xxl {
    padding-right: 40px !important;
  }
  .padding-bottom-xxl,
  .padding-vertical-xxl {
    padding-bottom: 40px !important;
  }
  .padding-left-xxl,
  .padding-horizontal-xxl {
    padding-left: 40px !important;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-automatic-width {
    width: auto !important;
  }
  .desk-one-whole {
    width: 100% !important;
  }
  .desk-one-half,
  .desk-two-fourths,
  .desk-four-eighths,
  .desk-three-sixths,
  .desk-five-tenths,
  .desk-six-twelfths {
    width: 50% !important;
  }
  .desk-one-third,
  .desk-two-sixths,
  .desk-four-twelfths {
    width: 33.333% !important;
  }
  .desk-two-thirds,
  .desk-four-sixths,
  .desk-eight-twelfths {
    width: 66.666% !important;
  }
  .desk-one-fourth,
  .desk-two-eighths,
  .desk-three-twelfths {
    width: 25% !important;
  }
  .desk-three-fourths,
  .desk-six-eighths,
  .desk-nine-twelfths {
    width: 75% !important;
  }
  .desk-one-fifth,
  .desk-two-tenths {
    width: 20% !important;
  }
  .desk-two-fifths,
  .desk-four-tenths {
    width: 40% !important;
  }
  .desk-three-fifths,
  .desk-six-tenths {
    width: 60% !important;
  }
  .desk-four-fifths,
  .desk-eight-tenths {
    width: 80% !important;
  }
  .desk-one-sixth,
  .desk-two-twelfths {
    width: 16.666% !important;
  }
  .desk-five-sixths,
  .desk-ten-twelfths {
    width: 83.333% !important;
  }
  .desk-one-eighth {
    width: 12.5% !important;
  }
  .desk-three-eighths {
    width: 37.5% !important;
  }
  .desk-five-eighths {
    width: 62.5% !important;
  }
  .desk-seven-eighths {
    width: 87.5% !important;
  }
  .desk-one-tenth {
    width: 10% !important;
  }
  .desk-three-tenths {
    width: 30% !important;
  }
  .desk-seven-tenths {
    width: 70% !important;
  }
  .desk-nine-tenths {
    width: 90% !important;
  }
  .desk-one-twelfth {
    width: 8.333% !important;
  }
  .desk-five-twelfths {
    width: 41.666% !important;
  }
  .desk-seven-twelfths {
    width: 58.333% !important;
  }
  .desk-ten-twelfths {
    width: 83.333% !important;
  }
  .desk-eleven-twelfths {
    width: 91.666% !important;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .fineprint {
    font-size: 13px;
    font-size: 1.3rem;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  ul.desk-touch-area a,
  a.desk-touch-area {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
  }
  ul.desk-touch-area li,
  ul.desk-touch-area ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .list-spacing > li {
    margin-bottom: 16px;
  }
  .list-spacing-xs > li {
    margin-bottom: 4px;
  }
  .list-spacing-s > li {
    margin-bottom: 8px;
  }
  .list-spacing-m > li {
    margin-bottom: 16px;
  }
  .list-spacing-l > li {
    margin-bottom: 24px;
  }
  .list-spacing-xl > li {
    margin-bottom: 32px;
  }
  .list-spacing-xxl > li {
    margin-bottom: 40px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .gutter,
  .gutter-horizontal {
    margin-left: -24px;
  }
  .gutter > .grid-item,
  .gutter-vertical > .grid-item {
    margin-bottom: 24px;
  }
  .gutter > .grid-item,
  .gutter-horizontal > .grid-item {
    padding-left: 24px;
  }
  .gutter-xs,
  .gutter-horizontal-xs {
    margin-left: -4px;
  }
  .gutter-xs > .grid-item,
  .gutter-vertical-xs > .grid-item {
    margin-bottom: 4px;
  }
  .gutter-xs > .grid-item,
  .gutter-horizontal-xs > .grid-item {
    padding-left: 4px;
  }
  .gutter-s,
  .gutter-horizontal-s {
    margin-left: -8px;
  }
  .gutter-s > .grid-item,
  .gutter-vertical-s > .grid-item {
    margin-bottom: 8px;
  }
  .gutter-s > .grid-item,
  .gutter-horizontal-s > .grid-item {
    padding-left: 8px;
  }
  .gutter-m,
  .gutter-horizontal-m {
    margin-left: -16px;
  }
  .gutter-m > .grid-item,
  .gutter-vertical-m > .grid-item {
    margin-bottom: 16px;
  }
  .gutter-m > .grid-item,
  .gutter-horizontal-m > .grid-item {
    padding-left: 16px;
  }
  .gutter-l,
  .gutter-horizontal-l {
    margin-left: -24px;
  }
  .gutter-l > .grid-item,
  .gutter-vertical-l > .grid-item {
    margin-bottom: 24px;
  }
  .gutter-l > .grid-item,
  .gutter-horizontal-l > .grid-item {
    padding-left: 24px;
  }
  .gutter-xl,
  .gutter-horizontal-xl {
    margin-left: -32px;
  }
  .gutter-xl > .grid-item,
  .gutter-vertical-xl > .grid-item {
    margin-bottom: 32px;
  }
  .gutter-xl > .grid-item,
  .gutter-horizontal-xl > .grid-item {
    padding-left: 32px;
  }
  .gutter-xxl,
  .gutter-horizontal-xxl {
    margin-left: -40px;
  }
  .gutter-xxl > .grid-item,
  .gutter-vertical-xxl > .grid-item {
    margin-bottom: 40px;
  }
  .gutter-xxl > .grid-item,
  .gutter-horizontal-xxl > .grid-item {
    padding-left: 40px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-push-one-half,
  .desk-push-two-fourths,
  .desk-push-three-sixths,
  .desk-push-four-eighths,
  .desk-push-five-tenths,
  .desk-push-six-twelfths {
    margin-left: 50%;
  }
  .desk-push-one-third,
  .desk-push-two-sixths,
  .desk-push-four-twelfths {
    margin-left: 33.333%;
  }
  .desk-push-two-thirds,
  .desk-push-four-sixths,
  .desk-push-eight-twelfths {
    margin-left: 66.666%;
  }
  .desk-push-one-fourth,
  .desk-push-two-eighths,
  .desk-push-three-twelfths {
    margin-left: 25%;
  }
  .desk-push-three-fourths,
  .desk-push-six-eighths,
  .desk-push-nine-twelfths {
    margin-left: 75%;
  }
  .desk-push-one-fifth,
  .desk-push-two-tenths {
    margin-left: 20%;
  }
  .desk-push-two-fifths,
  .desk-push-four-tenths {
    margin-left: 40%;
  }
  .desk-push-three-fifths,
  .desk-push-six-tenths {
    margin-left: 60%;
  }
  .desk-push-four-fifths,
  .desk-push-eight-tenths {
    margin-left: 80%;
  }
  .desk-push-one-sixth,
  .desk-push-two-twelfths {
    margin-left: 16.666%;
  }
  .desk-push-five-sixths,
  .desk-push-ten-twelfths {
    margin-left: 83.333%;
  }
  .desk-push-one-eighth {
    margin-left: 12.5%;
  }
  .desk-push-three-eighths {
    margin-left: 37.5%;
  }
  .desk-push-five-eighths {
    margin-left: 62.5%;
  }
  .desk-push-seven-eighths {
    margin-left: 87.5%;
  }
  .desk-push-one-tenth {
    margin-left: 10%;
  }
  .desk-push-three-tenths {
    margin-left: 30%;
  }
  .desk-push-seven-tenths {
    margin-left: 70%;
  }
  .desk-push-nine-tenths {
    margin-left: 90%;
  }
  .desk-push-one-twelfth {
    margin-left: 8.333%;
  }
  .desk-push-five-twelfths {
    margin-left: 41.666%;
  }
  .desk-push-seven-twelfths {
    margin-left: 58.333%;
  }
  .desk-push-ten-twelfths {
    margin-left: 83.333%;
  }
  .desk-push-eleven-twelfths {
    margin-left: 91.666%;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-button,
  a.desk-button,
  [class^="desk-button-"],
  [class*=" desk-button-"],
  a[class^="desk-button-"],
  a[class*=" desk-button-"] {
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.45em 2em;
    font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, Helvetica, sans-serif;
    line-height: 1.42857;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
  }
  .desk-button.disabled,
  .desk-button[disabled],
  a.desk-button.disabled,
  a.desk-button[disabled],
  [class^="desk-button-"].disabled,
  [class^="desk-button-"][disabled],
  [class*=" desk-button-"].disabled,
  [class*=" desk-button-"][disabled],
  a[class^="desk-button-"].disabled,
  a[class^="desk-button-"][disabled],
  a[class*=" desk-button-"].disabled,
  a[class*=" desk-button-"][disabled] {
    cursor: default;
  }
  .desk-button,
  a.desk-button,
  [class^="desk-button-"],
  [class*=" desk-button-"],
  a[class^="desk-button-"],
  a[class*=" desk-button-"] {
    margin: 0;
    -webkit-appearance: none;
    overflow: visible;
    width: auto;
  }
  .desk-button::-moz-focus-inner,
  [class^="desk-button-"]::-moz-focus-inner,
  [class*=" desk-button-"]::-moz-focus-inner {
    padding: 0 !important;
    border: none !important;
  }
  .desk-button-primary,
  a.desk-button-primary,
  .desk-button-primary:link,
  .desk-button-primary:visited {
    border-color: #f57000;
    background: #ff7500;
    color: #ffffff;
  }
  .desk-button-primary:hover,
  .desk-button-primary:focus,
  .desk-button-primary:active {
    background: #ff851d;
  }
  .desk-button-primary[disabled],
  .desk-button-primary.disabled,
  a.desk-button-primary.disabled,
  .desk-button-primary.disabled:link,
  .desk-button-primary.disabled:visited,
  .desk-button-primary.disabled:hover,
  .desk-button-primary.disabled:focus,
  .desk-button-primary.disabled:active {
    background: #ff7500;
    opacity: 0.35;
  }
  .desk-button-secondary,
  a.desk-button-secondary,
  .desk-button-secondary:link,
  .desk-button-secondary:visited {
    border-color: #00578d;
    background: #005e99;
    color: #ffffff;
  }
  .desk-button-secondary:hover,
  .desk-button-secondary:focus,
  .desk-button-secondary:active {
    background: #0075be;
  }
  .desk-button-secondary[disabled],
  .desk-button-secondary.disabled,
  a.desk-button-secondary.disabled,
  .desk-button-secondary.disabled:link,
  .desk-button-secondary.disabled:visited,
  .desk-button-secondary.disabled:hover,
  .desk-button-secondary.disabled:focus,
  .desk-button-secondary.disabled:active {
    background: #005e99;
    opacity: 0.35;
  }
  .desk-button,
  a.desk-button,
  .desk-button:link,
  .desk-button:visited {
    border-color: #e0e0e0;
    background: #ffffff;
    color: #003468;
  }
  .desk-button:hover,
  .desk-button:focus,
  .desk-button:active {
    background: #f4f6f8;
  }
  .desk-button[disabled],
  a.desk-button.disabled,
  .desk-button.disabled,
  .desk-button.disabled:link,
  .desk-button.disabled:visited,
  .desk-button.disabled:hover,
  .desk-button.disabled:focus,
  .desk-button.disabled:active {
    background-color: #ffffff;
    opacity: 0.35;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .button.desk-one-whole,
  [class^="button-"].desk-one-whole,
  [class*=" button-"].desk-one-whole {
    padding-left: 0;
    padding-right: 0;
  }
  .desk-button.one-whole,
  [class^="desk-button-"].one-whole,
  [class*=" desk-button-"].one-whole {
    padding-left: 0;
    padding-right: 0;
  }
  .desk-button.desk-one-whole,
  [class^="desk-button-"].desk-one-whole,
  [class*=" desk-button-"].desk-one-whole {
    padding-left: 0;
    padding-right: 0;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .form-theme-standard {
    padding: 16px;
  }
  .form-theme-standard fieldset {
    padding: 16px 0;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .form-theme-white {
    padding: 16px;
  }
  .form-theme-white fieldset {
    padding: 16px 0;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .corporate-powered-by {
    top: 16px;
  }
  .corporate-powered-by__logo {
    height: 16px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .corporate-powered-by {
    top: 27px;
    right: 8px;
  }
  .corporate-powered-by__logo {
    height: 19px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation.fix-to-top--fixed {
    padding: 0 8px;
  }
/*}*/
/*@media (min-width: 1170px) {*/
  .top-navigation.fix-to-top--fixed {
    left: auto;
    right: auto;
    padding: 0;
    max-width: 1154px;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__hover-tabs {
    padding-top: 10px;
  }
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:link,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:visited,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:hover,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label.hover,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:focus,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:active {
    padding: 8px 7px 7px;
    text-decoration: none;
    color: #ffffff;
  }
  .top-navigation__hover-tabs > li:hover,
  .top-navigation__hover-tabs > li.hover,
  .top-navigation__hover-tabs > li.active {
    margin-top: -6px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .top-navigation__hover-tabs > li:hover,
  .top-navigation__hover-tabs > li.hover {
    background-color: #ffffff;
  }
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label,
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label:link,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label:link,
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label:visited,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label:visited,
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label:hover,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label:hover,
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label:focus,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label:focus,
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-tabs__label:active,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-tabs__label:active {
    color: #003468;
  }
  .top-navigation__hover-tabs > li.active {
    background-color: #c95e0c;
    text-decoration: none;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:link,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:visited,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:hover,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label.hover,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:focus,
  .top-navigation__hover-tabs > li .top-navigation__hover-tabs__label:active {
    padding-left: 12px;
    padding-right: 12px;
  }
  .top-navigation__hover-tabs > li:hover,
  .top-navigation__hover-tabs > li.hover,
  .top-navigation__hover-tabs > li.active {
    padding-bottom: 9px;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__hover-tabs.top-navigation__sso-login > li:hover,
  .top-navigation__hover-tabs.top-navigation__sso-login > li.hover {
    margin-bottom: -7px;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__hover-tabs {
    position: relative;
  }
  .top-navigation__hover-tabs .top-navigation__hover-layer {
    display: none;
    position: absolute;
    top: 48px;
    z-index: 2000;
    background-color: #ffffff;
    box-shadow: 0 6px 6px 0 rgba(52, 52, 52, 0.2);
  }
  .top-navigation__hover-tabs > li:hover .top-navigation__hover-layer,
  .top-navigation__hover-tabs > li.hover .top-navigation__hover-layer {
    display: block;
  }
  .top-navigation__hover-tabs.top-navigation__level--1 > li .top-navigation__hover-layer {
    left: 0;
  }
  .top-navigation__hover-tabs.top-navigation__level--1.top-navigation__sso-login > li .top-navigation__hover-layer {
    left: auto;
    right: 0;
    width: 220px;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__hover-tabs.top-navigation__hover-tabs--delayed:not(.an-ignorant-old-browser) > li {
    -webkit-transition: all 0ms linear 200ms;
    -moz-transition: all 0ms linear 200ms;
    -o-transition: all 0ms linear 200ms;
    transition: all 0ms linear 200ms;
  }
  .top-navigation__hover-tabs.top-navigation__hover-tabs--delayed:not(.an-ignorant-old-browser) .top-navigation__hover-tabs__label {
    -webkit-transition: color 0ms linear 200ms;
    -moz-transition: color 0ms linear 200ms;
    -o-transition: color 0ms linear 200ms;
    transition: color 0ms linear 200ms;
  }
  .top-navigation__hover-tabs.top-navigation__hover-tabs--delayed:not(.an-ignorant-old-browser) .top-navigation__hover-layer {
    display: block;
    -webkit-transition: all 0ms linear 200ms;
    -moz-transition: all 0ms linear 200ms;
    -o-transition: all 0ms linear 200ms;
    transition: all 0ms linear 200ms;
  }
  .top-navigation__hover-tabs.top-navigation__hover-tabs--delayed:not(.an-ignorant-old-browser):not(.top-navigation__sso-login) .top-navigation__hover-layer {
    width: 100%;
  }
  .top-navigation__hover-tabs.top-navigation__hover-tabs--delayed:not(.an-ignorant-old-browser) > li:not(:hover):not(.hover) .top-navigation__hover-layer {
    width: 0;
    opacity: 0;
  }
/*}*/
/*@media (min-width: 768px) {*/
  [class*="top-navigation__slide-in-trigger--"] {
    display: none;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__level--1__label {
    display: block;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
  }
  .top-navigation__level--1:after {
    display: table;
    clear: both;
    content: "";
  }
  .top-navigation__level--1 > li {
    float: left;
  }
  .top-navigation__level--1 > li.active:hover,
  .top-navigation__level--1 > li.active.hover {
    border-radius: 3px 3px 0 0;
    border-color: transparent;
    background: #ffffff;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation__level--1__label {
    font-size: 1.4rem;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation .equal-height {
    display: table;
    table-layout: fixed;
  }
  .top-navigation .equal-height__column {
    display: table-cell;
    vertical-align: top;
  }
  .top-navigation__level--2 {
    overflow: hidden;
    font-size: 13px;
    font-size: 1.3rem;
  }
  .top-navigation__level--2 h3 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .top-navigation__level--2__navigation-wrapper {
    padding: 24px 0 16px 32px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation__level--2 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .top-navigation__level--2 h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__level--3 {
    width: 33%;
  }
  .top-navigation__level--3:nth-of-type(3n+1) {
    clear: left;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__level--2__teaser {
    position: relative;
    height: 100%;
  }
  .top-navigation__level--2__teaser p {
    text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
  }
  .top-navigation__level--2__teaser__background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: auto;
  }
  .top-navigation__level--2__teaser-wrapper {
    position: relative;
  }
  .top-navigation__level--2__teaser-wrapper .top-navigation__level--2__teaser {
    position: static;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__sso-login {
    z-index: 2001;
    float: right;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__sso-login__user-avatar {
    margin-top: -2px;
    margin-left: 5px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation__sso-login__user-avatar {
    margin-right: -4px;
    margin-left: 10px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .top-navigation__sso-login__welcome-message {
    font-size: 1.1rem;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__sso-login__welcome-message {
    max-width: 6em;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .top-navigation__sso-login__welcome-message {
    max-width: 10em;
  }
/*}*/
/*@media (min-width: 768px) {*/
  .top-navigation__sso-login.top-navigation__hover-tabs > li {
    padding-left: 2px;
    padding-right: 2px;
  }
  .top-navigation__sso-login.top-navigation__hover-tabs .top-navigation__sso-login__welcome-message {
    margin-top: -8px;
  }
  .top-navigation__sso-login.top-navigation__hover-tabs.sso-login--logged-in .top-navigation__hover-tabs__label {
    padding-top: 9px;
    padding-bottom: 6px;
  }
  [class*="top-navigation__sso-login__link-list"] {
    padding: 16px 16px 0 16px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-absolute-reference {
    position: relative;
  }
  .desk-absolute-content {
    position: absolute;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .breadcrumb {
    padding: 8px 4px;
    font-size: 13px;
    font-size: 1.3rem;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .breadcrumb__item:after {
    padding: 0 8px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .campaign-box {
    border-width: 8px;
    border-radius: 0 0 72px 0;
    padding: 24px 32px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .desk-campaign-box {
    border: 8px solid #ff7500;
    border-radius: 0 0 72px 0;
    padding: 24px 32px;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 2px 4px -2px rgba(52, 52, 52, 0.4);
  }
/*}*/
/*@media (min-width: 669px) {*/
  .status-message {
    padding: 24px 16px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .status-message--short {
    padding: 8px 16px 8px 76px;
  }
  .status-message--short h1,
  .status-message--short h2,
  .status-message--short h3,
  .status-message--short h4,
  .status-message--short h5,
  .status-message--short h6 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .status-message--short:before {
    padding: 16px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .status-message:not(.status-message--short) h1:before,
  .status-message:not(.status-message--short) h2:before,
  .status-message:not(.status-message--short) h3:before,
  .status-message:not(.status-message--short) h4:before,
  .status-message:not(.status-message--short) h5:before,
  .status-message:not(.status-message--short) h6:before {
    margin-right: 8px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .text-spacing > p,
  .text-spacing > ol,
  .text-spacing > ul {
    margin-bottom: 16px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .tooltip-icon {
    margin-left: 4px;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .tooltip-icon:before {
    font-size: 14px;
    font-size: 1.4rem;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .has-ad-superbanner .ad-superbanner {
    display: block;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .has-ad-skyscraper--right .ad-skyscraper--right {
    display: block;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  #FEM_WALL_DIV {
    display: block;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .ad-superbanner,
  .ad-skyscraper--right {
    position: absolute;
  }
  .ad-superbanner {
    z-index: 2001;
  }
  .ad-skyscraper--right {
    z-index: 1999;
  }
/*}*/
/*@media (min-width: 669px) {*/
  .has-ad-superbanner .page-wrapper--with-ads {
    margin-top: 90px;
  }
  .ad-superbanner {
    top: -91px;
    right: 0;
    height: 90px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .ad-superbanner {
    right: -1px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .ad-skyscraper--right {
    top: 120px;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .has-ad-skyscraper--right .ad-skyscraper--right {
    right: -301px;
    width: 300px;
  }
/*}*/
/*@media (min-width: 1014px) and (max-width: 1769px) {*/
  .has-ad-skyscraper--right .page-wrapper--with-ads {
    margin-right: 300px;
    width: auto;
    min-width: 1014px;
    margin-left: 0;
  }
/*}*/
/*@media (min-width: 1470px) and (max-width: 1769px) {*/
  .has-ad-skyscraper--right .page-wrapper--with-ads {
    margin-left: auto;
  }
/*}*/
/*@media (min-width: 1014px) {*/
  .has-ad-skyscraper--right .top-navigation.fix-to-top--fixed {
    padding: 0;
  }
/*}*/
/*@media (min-width: 1014px) and (max-width: 1313px) {*/
  .has-ad-skyscraper--right .top-navigation.fix-to-top--fixed {
    max-width: 998px;
    left: 8px;
  }
/*}*/
/*@media (min-width: 1314px) and (max-width: 1469px) {*/
  .has-ad-skyscraper--right .top-navigation.fix-to-top--fixed {
    left: 0;
    right: 0;
    margin-left: 8px;
    margin-right: 308px;
    max-width: none;
    width: auto;
  }
/*}*/